dist: trusty

sudo: required
addons:
  apt:
    packages:
      - oracle-java8-installer

language: java

jdk:
  - oraclejdk8
  
before_install:
  - uname -a
  - chmod +x pom.xml
  
script:
  - mvn clean test
